1. this is a javascript project
2. do not put comments unless asked
3. the data model is expressed in the files under */forms/* folder. these are called Forms.
4. Each Form has form-element-groups. Each form element group has form-element. Each form element links to a concept. The full definition of concepts are present in */concepts.json file.
5. Each form is like a table in database.
6. Concept has unique uuid, name, dataType, answers, which are of use to us. Each concept is like a field in an entity or column in database table.
7. the reference code is present in */reference/* folder which can be used as context. in reference folder there are multiple projects as child folder.
8. reportCards.js is present in */reportCards.js* file and this uses mongo realm database querying
9. program summmary is same as enrolment summary
10. offline dashboard report is same as report card
11. don't add exports to javascript generated code
12. individual is like @Individual in openchs-models
13. programEnrolment and enrolment is like @ProgramEnrolment in openchs-models
14. programEncounter is like @ProgramEncounter in openchs-models
15. encounter is like @Encounter in openchs-models
16. db is the Realm database instance
17. There is no SQL database, so queries always mean Realm queries